:root {
  --text-title-color: #31708e;
  --text-body-color: #687864;
  --button-color: #7ed449;
  --button-hover: #27b270;
  --box-shadow: 0 1px 2px rgba(73, 73, 73, 0.399);
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

.row {
  margin: 0 auto;
  max-width: 1140px;
}

/* Nút */
.btn {
  text-decoration: none;
  color: #fff;
  background-color: var(--button-color);
  padding: 15px 30px;
  margin: 0 10px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  /* width: 190px;
    display: inline-block; */
  text-align: center;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  background-color: var(--button-hover);
}

/* ----------------------------------- */
/* ------------SECTION-------------- */
section {
  padding: 50px;
}

.row h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--text-title-color);
  font-size: 180%;
  font-weight: 700;
  text-align: center;
}

.row h2:after {
  content: " ";
  display: block;
  width: 150px;
  height: 2px;
  background-color: rgba(49, 112, 143, 0.5);
  margin: 0 auto;
  margin-top: 5px;
}

.p-long {
  text-align: center;
  color: var(--text-body-color);
  font-size: 22px;
  margin: 40px 15%;
  width: 70%;
  line-height: 140%;
}
