* {
  color: #013141;
  /* rgb(1, 49, 65); */
  color: #01587c;
  /* rgb(1, 88, 124); */
  color: #01abfc;
  /* rgb(1, 171, 252); */
  color: #6fd9fe;
  /* rgb(111, 217, 254); */
  color: #cdf1ff;
  /* rgb(205, 241, 255); */
  color: #f7f9fb;
  /* rgb(248, 249, 251); */
  color: #7ed449;
  /* rgb(126, 212, 70); */
  color: #27b270;
  /* rgb(39, 178, 112); */
}
