* {
  color: #687864;
  /* rgb(104, 119, 100); */
  color: #31708e;
  /* rgb(49, 112, 143); */
  color: #5085a5;
  /* rgb(81, 133, 165); */
  color: #8fc1e3;
  /* rgb(142, 193, 226); */
  color: #f7f9fb;
  /* rgb(248, 249, 251); */
  color: #7ed449;
  /* rgb(126, 212, 70); */
  color: #27b270;
  /* rgb(39, 178, 112); */
}
