/* DEFAULT SETUP */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #5a5a5a;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  /* mặc định là 16px */
  text-rendering: optimizeLegibility;
}

/* ----------------------------------- */
/* ------------HEADER-------------- */
.header {
  background-image: linear-gradient(
      45deg,
      rgba(142, 193, 226, 0.8),
      rgba(104, 119, 100, 0.8)
    ),
    url("../img/header_img.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed; /* background chuyển động theo scroll */
}
/* LOGO */
.logo {
  width: 300px;
  height: 225px;
  float: left;
  margin-top: -55px;
}

.header__navbar-list {
  float: right;
  list-style: none;
  margin: 50px 50px 0 0;
}

.header__navbar-list li {
  display: inline-block;
  margin-right: 30px;
}

.header__navbar-list li a {
  text-decoration: none;
  color: #000;
  font-size: 110%;
  font-weight: 700;
  padding: 3px 0;
  transition: border-bottom 0.3s;
}

.header__navbar-list li a:hover,
.header__navbar-list li a:active {
  border-bottom: 2px solid #f2f6f8;
}

.header-main-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header-main-box h1 {
  font-size: 171%;
  line-height: 124%;
  color: #fff;
}

.header-main-box h2 {
  font-size: 90%;
  font-weight: 400;
  color: #000;
  margin: 10px 0 56px 0;
}

/* ----------------------------------- */
/* ------------About SECTION-------------- */
.about-picture a {
  position: relative;
  transition: transform linear 0.1s;
  will-change: transform;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-decoration-line: none;
}

.about-picture img {
  width: 165px;
  height: 165px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-picture img:hover,
.about-picture img:active {
  transform: translateY(-1px);
  opacity: 1;
  box-shadow: 0 0.0625rem 20px 0 rgba(73, 73, 73, 0.399);
  /* filter: blur(3px) brightness(60%); */
}

.picture-title {
  /* position: absolute; */
  margin-top: 10px;
  max-width: 165px;
  max-height: 165px;
  color: #8fc1e3;
  /* transform: translate(0%, -96px); */
  text-align: center;
  /* opacity: 0; */
}

.picture-title:hover,
.picture-title:active {
  border-bottom: 2px solid rgba(49, 112, 143, 0.5);
}

/* ------------Plans SECTION-------------- */
.products-section {
  display: table;
  width: 100%;
  background-color: #f2f6f8;
}

.products-section h2 {
  margin-bottom: 60px;
}

.product-box {
  position: relative;
  display: table-cell;
  background-color: #f7f9fb;
  width: 90%;
  height: 395px;
  box-shadow: 3px 5px 10px rgba(73, 73, 73, 0.399);
  border-radius: 10px;
}

.product-price {
  color: var(--text-title-color);
  font-size: 200%;
  font-weight: 300;
  text-align: center;
}

.product-price span {
  font-size: 80%;
}

.product-box ul li {
  margin: 20px 10%;
  list-style: none;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
}

.product-btn {
  position: absolute;
  bottom: 30px;
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
  margin: 0 auto;
}

.see-more {
  color: rgb(1, 130, 250);
  margin-left: 10px;
  text-decoration: none;
  font-size: 80%;
}

.see-more:hover {
  text-decoration: underline;
}
